<div class="wdata">
  <div class="range">
      <h1 class="text-left text-nowrap">{{params.cityName}} for  next {{days}}  {{days > 1 ? 'days' : 'day'}}</h1>
      <input type="range" value="1" min="1" max="10" ng-change="onChange()" ng-model="days"/>
  </div>

  <div>
    <div ui-view="mapview"></div>
    <button class="btn btn-default" ng-click="showMap()">City Details</button>

    <div class="panel panel-default" ng-repeat="day in data">
      <div class="panel-heading">
        {{convertDate(day.dt * 1000) | date: 'MMM dd EEEE' }}
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover ">
          <tr>
            <th>Weather</th>
            <th>Temprature</th>
            <th>Humidity</th>
            <th>Cloudiness</th>
          </tr>
          <tr>
            <td>{{day.weather[0].description}}</td>
            <td>
              <table>
                <tr>
                  <th>Day</th>
                  <th>Night</th>
                </tr>
                <tr>
                  <td>{{ convertToCelsius(day.temp.day)}}<sup>&deg</sup>C</td>
                  <td>{{ convertToCelsius(day.temp.night)}}<sup>&deg</sup>C</td>
                </tr>
              </table>
              </td>
            <td>{{day.humidity}} %</td>
            <td>{{day.clouds}} %</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
